---
import { dataTheClub } from "../data/club";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<section id={id} class="py-8 sm:py-16 scroll-mt-16">
  <div class="max-w-270 mx-auto px-4">
    <h1 class="font-bold text-xl md:text-2xl text-primary-semidark mb-4">
      {dataTheClub.headline}
    </h1>
    <p
      class="mb-8 max-w-200 text-grey-semidark leading-relaxed md:text-xl"
      set:html={dataTheClub.introTextHTML}
    />
    <ul class="list-none md:flex md:flex-wrap">
      {
        dataTheClub.servicesList.map((item) => (
          <li class="relative pl-9 leading-relaxed mb-4 md:w-service-col md:text-lg">
            <svg
              class="absolute top-1 left-0 w-5 h-5"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z"
                fill="#D6ECFF"
              />
              <path
                d="M7.99999 12.59L14.3 6.29003C14.4924 6.12746 14.7392 6.04353 14.9908 6.05499C15.2425 6.06646 15.4805 6.17249 15.6574 6.35188C15.8343 6.53127 15.9369 6.77081 15.9448 7.02261C15.9527 7.27441 15.8653 7.5199 15.7 7.71003L8.69999 14.71C8.51306 14.8933 8.26174 14.9959 7.99999 14.9959C7.73824 14.9959 7.48692 14.8933 7.29999 14.71L4.29999 11.71C4.13471 11.5199 4.04728 11.2744 4.05518 11.0226C4.06308 10.7708 4.16572 10.5313 4.34258 10.3519C4.51945 10.1725 4.75751 10.0665 5.00917 10.055C5.26083 10.0435 5.50754 10.1275 5.69999 10.29L7.99999 12.59Z"
                fill="#03437C"
              />
            </svg>
            {item}
          </li>
        ))
      }
    </ul>
  </div>
</section>
